body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1, h1 a {
    text-decoration: none;
    color: #000;
    text-shadow: 1px 1px 5px #b33000;
    font-size: 45px;
    margin: 25px 0;
}
h1 a:hover {
    text-decoration: none;
    color: #b33000;
    text-shadow: 1px 1px 5px #000;
}
img {
    margin-bottom: 6px;
    margin-left: 5px;
    transition: all .2s ease-in-out;
}
img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
#box {
    display: flex;
    flex-direction: column;
    border: 25px solid #fff;
    min-height: 150px;
    padding: 5px;
}
#box:nth-child(2n+0) {
    background-color:  #ffc8b3;
    box-shadow: inset  -3px -3px 10px #ffb699;
}
#box:nth-child(2n+1) {
    background-color: #e2e6e9;
    box-shadow: inset  -3px -3px 10px #d3d9de;
}
#box:nth-child(7) {
    margin-left: 18%;
}
#box li {
    list-style-type: none;
    margin-right: 20%;
    margin-bottom: 5px;
    font-size: 16px;
}
#box li:last-child {
    margin-bottom: 20px;
}
@media (max-width: 992px) {
    #box {
        width: 100%;
    }
    #box:nth-child(7) {
        margin-left: 0%;
    }
}
